DATABASE_URL=postgresql://skating_user:Haxuelcanta01@localhost:5432/skating_store
JWT_SECRET=genera-un-secret-largo-y-aleatorio-aqui
PORT=4000
CORS_ORIGIN=https://hunykho.com,https://www.hunykho.com
RESEND_API_KEY=re_MUFwZnSM_AWF9eqxcnT8bv9eWos1asEaD
GOOGLE_CLIENT_ID=944581526097-jfk8g2skimiv75e1eu8eg51o9et6qdug.apps.googleusercontent.com
FRONTEND_URL=https://hunykho.com

# Cloudflare R2 Storage
R2_ACCOUNT_ID=97596600075e6244893507eb5eb4d1c8
R2_ACCESS_KEY_ID=2f39a6eaaacedff58c462f502cf2d1de
R2_SECRET_ACCESS_KEY=d343273941668477f1e4c1b4324b6b74b41dcad8d26f874ab1f80af65a1a33eb
R2_BUCKET_NAME=hunykho-storage
R2_PUBLIC_URL=https://pub-238af2281b2544d19596c28e17e3d014.r2.dev
#Estas credenciales se borran